*{
  font-size: 24px;
} 

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1000px) {
  body {
    overflow: hidden;
  }
}

@media (max-width: 1000px) {
  .home {
    overflow-y: scroll;
  }

  body{
    overflow-x: hidden;
  }
}