*{
  font-size: 24px;
} 


body{
  margin: 0px; padding: 0px;
  display: flex;
}

@media (min-width: 1000px) {
  body {
    overflow: hidden;
  }
}

@media (max-width: 1000px) {
  .home {
    overflow-y: scroll;
  }

  body{
    overflow-x: hidden;
  }
}