body{
  margin: 0px; padding: 0px;
  display: flex;
  overflow: hidden;
}

.home{
  margin: 0px;
  display: flex;
  width: 100vw; height: 100vh;
  overflow: hidden; 
  background-color: wheat;
  font-size: 48px;
}

.home .container {
  border: 1px solid rebeccapurple;
  background-color: rgba(0, 0, 0, 0.05);
}

.login{
  width: 100vw; height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .container{
  width: 300px; height: 500px;
  border: 1px solid black; border-radius: 15px;
  padding: 10px;
}