*{
  font-size: 32px;
}

.navbar{
  position: static;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

body{
  margin: 0px; padding: 0px;
  display: flex;
  overflow: hidden;
}

.home{
  margin: 0px;
  display: flex;
  width: 100vw; height: 100vh;
  overflow: hidden; 
  background-color: wheat;
}

.home .container {
  border: 1px solid rebeccapurple;
  background-color: rgba(0, 0, 0, 0.05);
}

.login{
  width: 100vw; height: 100vh;
}